<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Billboard</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>

    <nav class="menu">
        <a href="{% url 'posts:index' %}" class="menu__item">Главная</a>
        {% if user.is_authenticated %}
          <a href="{% url 'users:user_posts' %}" class="menu__item">Мои объявления {{ user.username }}</a>
          <a href="{% url 'posts:add_post' %}" class="menu__item">Добавить объявление</a>
          <a href="{% url 'users:logout' %}" class="menu__item">Выход</a>
        {% else %}
          <a href="{% url 'users:login' %}" class="menu__item">Войти</a>
          <a href="{% url 'users:register' %}" class="menu__item">Регистрация</a>
        {% endif %}
    </nav>

    <h1 class="header"><span class="game_name">MMORPG</span> Billboard</h1>

{% block content %}

{% endblock %}

</body>
</html>